# Adquisición de datos

<ul class="nav nav-pills">
<li class="nav-item">
    <a class="nav-link active" href="#sets">Datos CSV en la web</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#sets">Datos distribuidos</a>
  </li>
</ul>

In [1]:
# Import libraries
import pandas as pd
import requests
import sys

# funciones
sys.path.insert(0, '../myfunctions/')

# Funciones útiles
import reading_data as rd

## Datos CSV en la web

In [2]:
url = "http://winterolympicsmedals.com/medals.csv"

In [3]:
# Usamos la función que ya creé
df = rd.open_url(url)
df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Datos distribuidos

Vamos a realizar un ejemplo en el cual tenemos muchos archivos *CSV* y queremos trabajar con ellos. Para ello debemos de proceder uniendo todos los archivos en un único `DataFrame`.

Vamos a importar el primer fichero y posteriormente haremos un bucle para ir recorriendo cada uno de los ficheros. Hay que tener en cuenta que el nombre de los ficheros deben de guardar cierta consistencia que nos permita realizar el bucle.

In [5]:
# Enlace donde tenemos guardados los ficheros
filepath = "../data/distributed-data/"

# Cargamos el primer fichero
data = pd.read_csv(filepath + "001.csv", header=0, index_col=0)

# Construimos un bucle que nos permita recorrer los ficheros
for idx in range(2,333):
    # ficheros menor de 10
    if idx < 10:
        filename = "00" + str(idx)
    # fichero menor de 100
    elif 10 <= idx < 100:
        filename = "0" + str(idx)
    # fichero mayor o igual que 100
    else:
        filename = str(idx)
    
    # ruta completa
    file = filepath + filename + ".csv"
    
    # adquisición de los datos
    temp_df = pd.read_csv(file, header=0, index_col=0)
    
    # concatenamos
    data = pd.concat([data, temp_df], axis = 0)

In [6]:
data.shape

(772087, 3)

In [7]:
data.head()

            sulfate  nitrate  ID
Date
2003-01-01      NaN      NaN   1
2003-01-02      NaN      NaN   1
2003-01-03      NaN      NaN   1
2003-01-04      NaN      NaN   1
2003-01-05      NaN      NaN   1

In [8]:
data.tail()

            sulfate  nitrate   ID
Date
2004-12-27      NaN      NaN  332
2004-12-28      NaN      NaN  332
2004-12-29      NaN      NaN  332
2004-12-30      NaN      NaN  332
2004-12-31      NaN      NaN  332