# Distancias

### Packages

In [4]:
# basic library
import pandas as pd
import numpy as np

In [2]:
# distances function
from scipy.spatial import distance_matrix

In [5]:
data = pd.read_csv('../datasets/Clustering/movies.csv', sep=";")
data.head()

   user_id  star_wars  lord_of_the_rings  harry_potter
0        1        1.2                4.9           2.1
1        2        2.1                8.1           7.9
2        3        7.4                3.0           9.9
3        4        5.6                0.5           1.8
4        5        1.5                8.3           2.6

In [6]:
# Pel√≠culas
movies = data.columns.values.tolist()[1:]
movies

['star_wars', 'lord_of_the_rings', 'harry_potter']

In [7]:
# Matriz de distancias
dd1 = distance_matrix(data[movies], data[movies], p = 1)
dd2 = distance_matrix(data[movies], data[movies], p = 2)
dd10 = distance_matrix(data[movies], data[movies], p = 10)